<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Action</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://bootswatch.com/slate/bootstrap.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<link href="/css/style.css" rel="stylesheet" type="text/css">
	<script>
		function setAction(id, name)
		{
			$('#action').val(id);
			$('#action_name').html(name);
		}
		function setSource(id, name)
		{
			$('#source').val(id);
			$('#source_name').html(name);
		}
		function setDestiny(id, name)
		{
			$('#destiny').val(id);
			$('#destiny_name').html(name);
		}

		function saveAction(e, form)
		{
			e.preventDefault();
			$.post($(form).attr('action'), $(form).serialize(), function(action)
				{
					addAction(action);

				});
			return false;
		}

		function addAction(action)
		{
			$table = $('#actions');
			$tr = $('<tr>')

			$action = $('<td>');
			$source= $('<td>');
			$destiny = $('<td>');

			if(action.action) $action.html(action.action.name);
			if(action.source) $source.html(action.source.name);
			if(action.destiny) $destiny.html(action.destiny.name);

			$tr.append($action).append($source).append($destiny);
			$table.append($tr);
		}

	</script>

</head>
<body>
	<div class="container">
		<div class="row">
			<div class="centered six columns">
				<h1><%= game.name %></h1>
				
			</div>
		</div>
		<div class="row">
			<div class="col-md-2">
				<h2><%=  teams[0].name %></h2>
				<ul     class="nav nav-pills nav-stacked">
					<% for( var j = 0; j < teams[0].players.length; j++ ){ %>
						<li>
							<%= teams[0].players[j].number + ': ' + teams[0].players[j].name %> 
							<br>
							<div class="btn-group">
								<a class="btn btn-info" onclick="setSource('<%=  teams[0].players[j]._id %>','<%=  teams[0].players[j].name %>')"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span></i></a>
								<a class="btn btn-info" onclick="setDestiny('<%=  teams[0].players[j]._id %>','<%=  teams[0].players[j].name %>')"><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span></a>
							</div>
						</li>
					<% } %>
				</ul>
			</div>
			<div class="col-md-8">
				<div class="btn-group" role="group" aria-label="...">
					<% for( var i in actions ){ %>
						<button class="btn btn-info btn-sm" onclick="setAction('<%= actions[i]._id %>', '<%= actions[i].name %>')">
					  		<%= actions[i].name %>
						</button>
					<% } %>
				</div>
				<form action="/game/<%= game._id %>/action" onSubmit="saveAction(event, this)" style="margin-top: 30px">
						


					<div class="panel panel-success">
					  <div class="panel-heading">
					    <h3 class="panel-title">Action</h3>
					  </div>
					  <div class="panel-body">
							<button type="button"  class="btn btn-danger btn-xs" onclick="setAction('','')"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
					    <span id="action_name"></span><br>
						<input name="action[action]" type="hidden" id="action" placeholder="action">
					  </div>
					</div>


					<div class="panel panel-warning">
					  <div class="panel-heading">
					    <h3 class="panel-title">Source Player/Team</h3>
					  </div>
					  <div class="panel-body">
							<button type="button"   class="btn btn-danger btn-xs"  onclick="setSource('','')"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
					    <span id="source_name"></span><br>
						<input name="action[source]" type="hidden" id="source"  placeholder="source">
					  </div>
					</div>



					<div class="panel panel-danger">
					  <div class="panel-heading">
					    <h3 class="panel-title">Destination Player</h3>
					  </div>
					  <div class="panel-body">
							<button type="button"   class="btn btn-danger btn-xs"  onclick="setDestiny('','')"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
					     	<span id="destiny_name"></span><br>
						<input name="action[destiny]" type="hidden" id="destiny"  placeholder="destiny">
					  </div>
					</div>
	

				
							<div>
									<button class="btn btn-primary btn-block">Add</button>
							</div>
				</form>
				
			</div>
			<div class="col-md-2">
				<h2><%=  teams[1].name %></h2>
					<ul   class="nav nav-pills nav-stacked">
					<% for( var j = 0; j < teams[1].players.length; j++ ){ %>
						<li>
							<%= teams[1].players[j].number + ': ' + teams[1].players[j].name %>
							<br>
							<div class="btn-group">
								<a  class="btn btn-info" onclick="setSource('<%=  teams[1].players[j]._id %>','<%=  teams[1].players[j].name %>')"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span></i></a>
								<a class="btn btn-info"   onclick="setDestiny('<%=  teams[1].players[j]._id %>','<%=  teams[1].players[j].name %>')"><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span></a>
							</div>
						</li>
					<% } %>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				
				<h3>Actions</h3>
				<table  class="table table-striped" id="actions">
					<thead>
						<th>Action</th>
						<th>Source</th>
						<th>Destiny</th>
					</thead>
					<tbody>
					<% for( var i = 0; i< game_actions.length; i++ ){ %>
						<tr>
							<td><% if( game_actions[i].action){ %> <%= game_actions[i].action.name  %> <% } %></td>
							<td><% if( game_actions[i].source){ %> <%= game_actions[i].source.name  %> <% } %></td>
							<td><% if( game_actions[i].destiny){ %> <%= game_actions[i].destiny.name  %> <% } %></td>
						</tr>
					<% } %>
					</tbody>
				</table>

			</div>
		</div>
		<div class="row">
			<div class="small default btn icon-right entypo icon-home"><a href="/"> Home</a></div>
		</div>
	</div>
</body>
</html>