<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Action</title>
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/gumby/2.6.0/css/gumby.min.css">
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<% console.log(teams[1].players.length) %>
	<script>
		function setAction(object_id)
		{
			$('#action').val(object_id);
		}
		function setSource(object_id)
		{
			$('#source').val(object_id);
		}
		function setDestiny(object_id)
		{
			$('#destiny').val(object_id);
		}

		function saveAction(e, form)
		{
			e.preventDefault();
			$.post($(form).attr('action'), $(form).serialize(), function(action)
				{
					addAction(action);

				});
			return false;
		}

		function addAction(action)
		{
			$table = $('#actions');
			$tr = $('<tr>')

			$action = $('<td>');
			$source= $('<td>');
			$destiny = $('<td>');

			if(action.action) $action.html(action.action.name);
			if(action.source) $source.html(action.source.name);
			if(action.destiny) $destiny.html(action.destiny.name);

			$tr.append($action).append($source).append($destiny);
			$table.append($tr);
		}

	</script>

</head>
<body>
	<div class="row">
		<div class="centered six columns">
			<h1><%= game.name %></h1>
			
		</div>
	</div>
	<div class="row">
		<div class="three columns">
			<h2><%=  teams[0].name %></h2>
			<ul>
				<% for( var j = 0; j < teams[0].players.length; j++ ){ %>
					<li>
						<%= teams[0].players[j].number + ': ' + teams[0].players[j].name %> 
						<br>
						<div class="btn default small pill-left">
							<button onclick="setSource('<%=  teams[0].players[j]._id %>')"><i class="icon-logout"></i></button>
						</div>
						<div class="btn default small pill-right">
							<button  onclick="setDestiny('<%=  teams[0].players[j]._id %>')"><i class="icon-login"></i></button>
						</div>
					</li>
				<% } %>
			</ul>
		</div>
		<div class="six columns">
			<ul class="t_up tiles">
				<% for( var i in actions ){ %>
				<li>
					<div class="small primary btn">
					<button onclick="setAction('<%= actions[i]._id %>')">
				  		<%= actions[i].name %>
					</button>
					</div>
				</li>
				<% } %>
			</ul>
			<form action="/game/<%= game._id %>/action" onSubmit="saveAction(event, this)">
				action <input name="action[action]" id="action" placeholder="action"><br>
				source <input name="action[source]" id="source"  placeholder="source">
						<div class="btn default small">
							<button type="button"  onclick="setSource('')"><i class="icon-cancel"></i></button>
						</div>
				<br>
				destiny <input name="action[destiny]" id="destiny"  placeholder="destiny">
						<div class="btn default small">
							<button type="button"  onclick="setDestiny('')"><i class="icon-cancel"></i></button>
						</div>
						<br><br>
						<div>
							<div class="btn primary medium">
								<button>Add</button>
							</div>
						</div>
			</form>
			<h3>Actions</h3>
			<table id="actions">
				<thead>
					<th>Action</th>
					<th>Source</th>
					<th>Destiny</th>
				</thead>
				<tbody>
				<% for( var i = 0; i< game_actions.length; i++ ){ %>
					<tr>
						<td><% if( game_actions[i].action){ %> <%= game_actions[i].action.name  %> <% } %></td>
						<td><% if( game_actions[i].source){ %> <%= game_actions[i].source.name  %> <% } %></td>
						<td><% if( game_actions[i].destiny){ %> <%= game_actions[i].destiny.name  %> <% } %></td>
					</tr>
				<% } %>
				</tbody>
			</table>
		</div>
		<div class="three columns">
			<h2><%=  teams[1].name %></h2>
			<ul>
				<ul>
				<% for( var j = 0; j < teams[1].players.length; j++ ){ %>
					<li>
						<%= teams[1].players[j].number + ': ' + teams[1].players[j].name %>
						<br>
						<div class="btn default small pill-left">
							<button onclick="setSource('<%=  teams[1].players[j]._id %>')"><i class="icon-logout"></i></button>
						</div>
						<div class="btn default small pill-right">
							<button  onclick="setDestiny('<%=  teams[1].players[j]._id %>')"><i class="icon-login"></i></button>
						</div>
					</li>
				<% } %>
			</ul>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="small default btn icon-right entypo icon-home"><a href="/"> Home</a></div>
	</div>
</body>
</html>