<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Team</title>
</head>
<body>
	<%= team.name %> <br>
	<br>
	<ul>
		<% for( var i = 0; i < players.length; i++){ %>
			<li><a href="/player/<%= players[i]._id %>"><%= players[i].number %>: <%= players[i].name %></a></li>
		<% } %>
	</ul>
	<a href="/">back</a>
	<form action='/team/<%= team._id %>/player' method='POST'>
		<input type="text" name="player" />
		<button>save</button>
	</form>
</body>
</html>